@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400&family=Roboto:wght@100&family=Spartan:wght@500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* main bg */
  --very-dark-blue: hsl(217, 54%, 11%);
  /* card bg */
  --very-dark-blue-card: hsl(216, 50%, 16%);
  /* line bg */
  --very-dark-blue-line: hsl(215, 32%, 27%);
  --backdrop: hsla(216, 71%, 13%, 0.2);
  --white: hsl(0, 0%, 100%);
  /* view icon bg */
  --cyan: hsl(178, 100%, 50%);
  /* pale cyan */
  --pale-cyan: hsl(215, 51%, 70%);
}

.d-flex-center,
.d-flex-bw {
  display: flex;
  align-items: center;
  justify-content: center;
}

.d-flex-bw {
  justify-content: space-between;
}

p {
  font-size: 18px;
}

.view-icon,.nft-about h2,
.name {
  transition: 1s ease;
}

/* ----------------------------------- */

body {
  background: var(--very-dark-blue);
  font-family: "Outfit", sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
}

.nft-card-backdrop {
  background: var(--backdrop);
  border-radius: 30px;
  padding: 30px 70px 100px;
  margin: 40px 0;
}

.nft-card {
  width: 400px;
  border-radius: 15px;
  height: auto;
  background: var(--very-dark-blue-card);
  box-shadow: 25px 40px hsla(217, 57%, 10%, 0.3),
    -25px 40px hsla(217, 57%, 10%, 0.3);
}

.nft-components {
  margin: 40px auto;
  width: 320px;
}

/* nft-image session */
.nft-img {
  height: 300px;
  width: 100%;
  border-radius: 15px;
  background: url("./images/image-equilibrium.jpg") center center / cover no-repeat;
}

.view-icon {
  background: var(--cyan);
  border-radius: 15px;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.view-icon img,
.user img {
  width: 40px;
  height: 40px;
}

/* nft about session */

.nft-about {
  margin-top: 40px;
}

.nft-about h2 {
  color: var(--white);
  margin-bottom: 20px;
  font-weight: 600;
}

.nft-about p {
  color: var(--pale-cyan);
  font-weight: 300;
}

/* nft info session */

.nft-info {
  margin-top: 40px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--very-dark-blue-line);
}

.nft-info p {
  margin-left: 5px;
  font-weight: bold;
}

.eth p {
  color: var(--cyan);
}

.time p {
  color: var(--pale-cyan);
}

/* user session */

.user {
  margin-top: 30px;
  display: flex;
  align-items: center;
}

.user img {
  border-radius: 50%;
  border: 1px solid var(--white);
}

.user p {
  margin-left: 15px;
  color: var(--white);
  font-weight: 400;
}

.user p>span:nth-child(1) {
  color: var(--pale-cyan);
  margin-right: none;
}

.name {
  margin-left: 5px;
}

/* hover states  */
.nft-about h2:hover,
.user .name:hover {
  color: var(--cyan);
  cursor: pointer;
}

.nft-img:hover .view-icon {
  opacity: 0.6;
  cursor: pointer;
}

/* Responsiveness */
@media screen and (max-width: 600px) {
  .nft-card-backdrop {
    padding: 0;
    width: 100%;
    background: var(--very-dark-blue);
  }
}

@media (max-width: 430px) {
  .nft-card {
    width: 100%;
    border-radius: 15px;
    margin: 30px 20px;
  }

  .nft-components {
    padding: 20px 20px;
    margin: 0;
    width: 100%;
  }

  .user p {
    margin-left: 20px;
  }

  .user p>span:nth-child(1) {
    margin-right: 5px;
  }

  .name {
    margin-left: 0px;
  }
}
